<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todoist Features</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav class="topnav">
            <div id="logo">
                <!-- <img src="Logo" alt="logo"> -->
                <h2 class="logo"> Logo </h2>
            </div>
            <div id="Navbar">
                <a class="active"></a>
                <a href="/login" class="button">Login</a>
                <a href="/register" class="button">Register</a>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1>Organize your work and life, finally.</h1>
        <p>Become focused, organized, and calm with Todolist.</p>
        <div class="buttons">
            <a href="/todo" class="button">Create a to-do list</a>
        </div>
    </div>

    <div class="containertwo">
        <h1>fgccggc</h1>
    </div>

    <footer>
        <div class="footer">
            <p class="made-by">Made By</p>
            <p class="developer">Sakar khatri</p>
        </div>

    </footer>

</body>

</html>